/*root too make access to color scheme easier */
:root {
  --black: #181823;
  --blue: #537fe7;
  --lightBlue: #c0eef2;
  --paleBlue: #e9f8f9;
  --darkBlue: #301e67;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

body {
  margin: auto;
  background-color: #faf8f1;
}
/*Static header with a linear gradient that fits the width of the screen */
header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(to right, var(--black), var(--blue));
}
nav {
  margin-right: 2rem;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header nav a {
  color: var(--blue);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
/*Psueod elements added to add interactivity and functionality*/
header nav a:hover,
header nav a:active,
header nav a:focus {
  color: var(--darkBlue);
}

header nav a:not(:last-child) {
  margin-right: 20px;
}

main {
  margin-left: 200px;
}

p {
  line-height: 1.5;
}

ul {
  list-style-type: disc;
  padding: 0;
  margin: 0;
}

ol {
  list-style-type: decimal;
  margin: 0;
}

body section {
  background-color: var(--paleBlue);
}
img {
  max-width: 95%;
  display: block; 
  margin: auto; 
  border: 2px solid var(--lightBlue); 
  box-shadow: 3px 3px var(--darkBlue);
}
/*footer follows the same gradient as header and covers the width of the page  */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(to right, var(--black), var(--blue));
  border-top: 2px solid #301e67;
}

#container {
  padding-top: 200px;
}

.myName {
  font-size: 2rem;
  font-style: bold;
  color: #c0eef2;
}

.navLinks {
  display: inline-flex;
  padding: 12px 24px;
  color: var(--blue);
  background: var(--paleBlue);
  border: 2px solid var(--lightBlue);
  gap: 1rem;
  border-radius: 24px;
}

.navlinks:hover {
  background-color: var(--lightBlue);
}

.heading {
  position: relative;
}
/*Attempt to move headings, to my grader: please let me know what I did wrong or what I could do instead*/
.heading {
  transform: translate(10px, 10px);
}
.aboutMe .bioText {
  padding: 4rem;
  margin: 1rem;
  border-left: 2px dashed #301e67;
}

.work .heading {
  position: relative;
}

.container {
  padding: 4rem;
  margin: 1rem;
  border-left: 2px dashed #301e67;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
/*root too make access to color scheme easier */
.container .project:hover .container .project:active .container .project:focus {
  box-shadow: 2rem 1rem 1rem var(--darkBlue);
  transform: translateY(-10px);
}

.projects {
  display: flex;
  flex-direction: column;
}
.comingSoon {
  height: 200px;
  width: 300px;
}
.main-project {
  font-size: 1.5em;
}
.project {
  margin: 10px;
}
/*rdiv element to isolate contact list within footer to give it its own container */
div {
  background-color: var(--lightBlue);
  width: 600px;
  border: 2px solid var(--black);
  border-radius: 24px;
}
.contactTitle {
  font-style: bold;
  text-align: center;
}
.contactList {
  display: flex;
  justify-content: center;
}
.contactList ul {
  display: flex;
  list-style: none;
  padding: 0;
}
.contactList ul ol {
  margin: 0 10px;
}
/*Various media queries accomadting four different screen sizes to ensure page is responsive */
@media screen and (max-width: 576px) {
  /*main element altered in some queiries to charge left margin so page doesnt look awkward with resposive transition */
 main {
  margin-left: 0px;
 }
  header {
  height: 60px;
  }
  .myName {
  font-size: 1.2rem;
  }
  .comingsoon {
    display: flex 100%;
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 150px;
    }
  }
  
  @media screen and (min-width: 577px) and (max-width: 768px) {
  header {
  height: 80px;
  }
  main {
    margin-left: 0px;
   }
  .myName {
  font-size: 1.3rem;
  }
  .comingsoon {
  display: flex 100%;
  height: auto;
  width: auto;
  max-height: 100px;
  max-width: 150px;
  }
  
  @media screen and (min-width: 769px) and (max-width: 992px) {
  header {
  height: 100px;
  }
  main {
    margin-left: 45px;
  }
  .myName {
  font-size: 1.4rem;
  }
  .comingsoon {
    display: flex 50%;
    height: auto;
    width: auto;
    max-height: 150px;
    max-width: 250px;
  }
  }
  
  @media screen and (min-width: 993px) {
  header {
  height: 120px;
  }
  .myName {
  font-size: 1.5rem;
  }
  .project .firstProject {
    display: 0 1 100 flex 95%;
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 500px;
  }
  .comingsoon {
    display: flex 25%;
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 300px;
  }
  }
  
  }